.b-sch-event {
  border-radius: 3px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.25);
}

#main {
  height: 81vh;
}

#main .b-resourceheader {
  height: 100%;
}

.b-grid-header {
  height: 40px;
}

.b-unassigned-class.b-drag-proxy {
  background: green;
  color: #fff;
  border-radius: 3px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.25);
}

.b-unassigned-class.b-drag-proxy.b-drag-invalid {
  background: red;
}

.b-unassigned-class.b-drag-proxy.b-horizontal {
  align-items: flex-start;
  padding-left: 0.5em;
}

.b-unassigned-class.b-drag-proxy.b-vertical {
  justify-content: flex-start;
  padding-top: 0.5em;
}

.b-aborting.b-unassigned-class {
  transition: transform 0.3s !important;
  background: red;
  position: absolute !important;
  z-index: 10000;
  pointer-events: none;
  opacity: 0.8;
  box-sizing: border-box;
}

.b-none {
  display: none !important;
}

.b-grid-header[data-column="availabilityThisWeek"] .b-grid-header-text-content,
.b-grid-header[data-column="availabilityNextWeek"] .b-grid-header-text-content {
  white-space: normal;
}

dl dt {
  margin: 5px 0;
}

dl dt.right {
  text-align: center;
}

dl dt.right img {
  margin: 0 5px;
}

#page-frontdesk,
.page-content-wrapper {
  flex: 1;
}

.container.my-4 {
  max-width: 100%;
  margin: 0 !important;
  padding: 0 !important;
}

.navbar.navbar-light,
.web-footer {
  display: none !important;
}

.b-grid-header-text {
  padding: 0;
}

.b-chipview.b-chips-closable .b-chip {
  white-space: nowrap !important;
}

.b-grid-row.b-group-row {
  background: #e8efff !important
}

.b-sch-header-timeaxis-cell {
  white-space: inherit;
  text-align: center;
}

.b-hbox {
  position: relative;
  overflow: visible !important;
}

.b-hbox .customer-search {
  margin-right: 100px !important;
}
.b-hbox .customer-list.b-empty {
  display: none;
}
.b-hbox .customer-list {
  position: absolute;
  top: 38px;
  display: block;
  z-index: 99;
  background: transparent;
  left: 10px;
  height: 160px;
  overflow-y: scroll;
}

.b-hbox .b-list-item {
  background: #fff;
}

.b-textfield {
  height: 30px;
}

.b-toolbar.b-dock-top,
.b-toolbar.b-dock-bottom {
  min-height: 2.2em;
}

.b-button {
  min-height: 30px !important;
}

.b-button label {
  margin: 0 !important;
}

.today_date {
  font-size: 14px;
}
.b-container.b-outer{
  align-self: inherit!important;
}
.today_date b {
  margin-left: 10px;
}
.b-button.b-raised.b-blue.b-pressed{
  background-color: #b6ad11;
}